html, body, a, p, span, ul, li, h1, h2, h3, h4, h5, div, img, table, tr, td, ul, li,form {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    direction: rtl;
    text-align: right;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color:#646c6e;
}
a {
    text-decoration: underline;
    color: #4da7b3;
}
a:hover {
    text-decoration: none;
}

p {
    line-height: 20px;
    color:#646c6e;
    margin: 4px 0px 10px;
}


.bold {
    font-weight: bold;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nofloat {
    float: none !important;
}

.noborder {
    border: none !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

li {
    padding-right: 14px;
    background: url(/images/bullet.png) no-repeat right 6px;
    list-style: none;
    margin-bottom: 3px;
}

.pagespace img {
    border: 3px solid #c3c5c6;
    border-radius: 4px;
}
.pagespace img.right {
    margin: 0px 0px 4px 20px;
}
.pagespace img.left {
    margin: 0px 20px 4px 0px;
}
.darker {
    color: #222a2b
}

.light1 {
    color: #646c6e;
}

.light2 {
    color: #4c5255;
}
.f11 {
    font-size: 11px;
}

.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}


.header {
    height: 180px;
    /*background: #999;*/
    width: 978px;
}

h1,h2,h3,h4,h5 {
    color: #222a2b;
    font-weight: normal;
}

h1 {
    
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 16px;
    font-weight: bold;
}
h5 {
    font-size: 14px;
    font-weight: bold;
}

h4 a {
    text-decoration: none;
}

h4 a:hover {
    text-decoration: underline;
}

body {
    /*background: url(/images/bg.jpg) no-repeat center top;*/
    background: url(/images/footbg.jpg) repeat-x center bottom;
}
.container {
    width: 998px;
    margin: 0 auto;
    background: url(/images/bg.jpg) no-repeat center top;
}

.main-content {
    min-height: 600px;
    overflow: hidden;
    display: block;
    clear: both;
}
.content {
    min-height: 200px;
    
}
.pre-footer {
    display: block;
    clear: both;
}
.footer {
    padding: 25px 20px 0;
    height: 90px;
    clear: both;
}
.in-footer {
    width: 958px;
    margin: 0 auto;
}
hr {
    color: #fff;
    background: #e3e3e3;
    margin-bottom: 15px;
    height: 1px;
    //color: #c8caca;
    border: none;
}

.foot-links li {
    list-style: none;
    display: inline;
    background: none;
    padding-right: 0px;
}

.foot-links li span {
    color: #888389;
    font-size: 11px;
    padding: 0px 8px 0 4px;
}
.rights {
    color: #888389;
    font-size: 11px;
    float: right;
    line-height: 35px;
}
.foot-links li a {
    color: #888389;
    font-size: 11px;
    text-decoration: none;
}
.foot-links li a:hover {
    text-decoration: underline;
}

.open-studio a {
    color: #362f2d;
    padding-left: 20px;
    background: url(/images/open-logo.png) no-repeat left bottom;
    height:27px;
    float: left;
    line-height: 33px;
    cursor: pointer;
    text-decoration: none;
}
.open-studio a:hover {
    text-decoration: none;
    background: url(/images/open-logo.png) no-repeat left 1px;
}
.open-studio {
    float: left;
    color: #362f2d;
}

.di, .bui, .stu, .ope {
    float: left;
    font-family: Arial;
    font-size: 12px;
}

.di {
    padding: 0px 8px;
    color: #888389;
}

.bui {
    color: #888389;
    font-size: 11px;
    line-height: 35px;
    
}
.ope {
    color:#35b21f;
}

.top-head {
    width: 666px;
    padding: 44px 0 0px;
    float: left;
    height: 84px;
}

.menu {
    width: 660px;
    background: url(/images/menu.png) no-repeat right top;
    height: 30px;
    float: left;
    padding-right: 6px;
}

.menu li {
    list-style: none;
    background: none;
    display: inline;
    background: url(/images/menudivi.png) no-repeat left top;
    height: 30px;
    float: right;
    padding-right: 0px;
}

.menu li a {
    padding: 4px 20px 6px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-left: 2px;
    /*position: relative;*/
    top: 4px;
    display: block;
    height: 20px;
}

.menu li a:hover {
    background: #c2c5c5
}

.search-fr {
    width: 344px;
    float: right;
    height: 22px;
    background: url(/images/search.png) no-repeat left top;
}

.search-fr form {
    margin-right: 148px;
}

.findfriend {
    margin: 0;
    background: none;
    width: 168px;
    padding: 4px 3px 1px;
    border: none;
    float: right;
    margin-top: 1px;
}

.ffbtn {
    background: url(/images/serbtn.png) no-repeat right top;
    height: 22px;
    border: none;
    float: right;
    display: block;
    width: 22px;
    cursor: pointer;
}
.ffbtn:hover {
    background-position: right bottom;
}
.signin {
    position: relative;
    float: left;
    width: 300px;
}
#usr-pas {
    background: url(/images/signbg.png) no-repeat right top;
    width: 303px;
    height: 30px;
    padding: 8px 7px 0 0;
    display: block;
    position: absolute;
    left: 0px;
    top: 35px;
}

.defbtn {
    background: url(/images/defbtn.png) no-repeat center top;
    height: 20px;
    padding-top: 2px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    width: 101px;
    border: none;
}
input.defbtn {
    padding-top: 0px;
    height: 22px;
    font-family: Arial;
    padding-bottom: 4px;
    cursor: pointer;
}

.defbtn:hover {
    background-position: right bottom;
}


.upd-arr {
    background: url(/images/defbtn.png) no-repeat left top;
    display: block;
    float: left;
    margin: 0 1px 0 0;
    height:20px;
    padding-top: 2px;
    width: 22px;
}

.ual {
    
}

.uar {
    background: url(/images/defbtn.png) no-repeat right top;
    
}

.uar:hover {
    background-position: right bottom;
}
.ual:hover {
    background-position: left bottom;
}

.ualrr {
    background: url(/images/arr.png) no-repeat right top;
    height: 8px;
    width: 6px;
    display: block;
    margin: 5px 8px;
}

.ual .ualrr {
    background-position: left top;
}

.sn {
    line-height: 22px;
}

.logo {
    margin-top: 20px;
}


.sinbtn {
    border: none;
    background: url(/images/enter.jpg) repeat-x right top;
    width: 50px;
    color: #fff;
    font-weight: bold;
    height: 20px;
    font-family: Arial;
    padding-bottom: 0px;
    cursor: pointer;
}

.sinbtn:hover {
    background: #c5c7c8;
}

.sinpu {
    width: 111px;
    height: 18px;
    padding: 2px 2px 0;
    border: none;
    margin: 1px 0px 0px 4px;
}

.fopics {
    float: left;
    margin: 0px 0px 0px 20px
}


.content {
    padding-top: 10px;
}
.abouter {
    padding-top: 20px;
    padding-right: 20px;
    width: 480px;
}
.abouter h2 {
    font-size: 86px;
}
.abouter p {
    width: 460px;
    line-height: 22px;
}

.main-slider {
    height: 300px;
}

.hmbottom {
    height: 170px;
    padding: 0px 20px;
    margin-bottom: 40px;
}

.lastupdates {
    width: 626px;
    float: right;
}

.lastupdates li {
    list-style: none;
    float: right;
    width: 292px;
    margin-left: 20px;
    position: relative;
    height: 125px;
    background: none;
    padding-right: 0px;
}

.last {
    margin-left: 0px !important;
}

.newsleta {
    width: 292px;
    float: left;
}

.bubbr {
    background: url(/images/bubble.png) no-repeat right top;
    width: 186px;
    position: relative;
    height:77px;
}
.bubbr p {
    margin-top: 0px;
}
.bubbr span {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.bubbl {
    background: url(/images/bubble.png) no-repeat left top;
    width: 10px;
    height: 77px;
    position: absolute;
    left: -10px;
    top: 0px;
}

.padder1 {
    padding: 3px 10px 0px 0px;
}
.postersec {
    margin: 0 10px 0 0;
    
}
.postersec a {
    text-decoration: none;
    font-weight: bold;
    clear: left;
    display: block;
}

.postersec a:hover {
    text-decoration: underline;
}

.shad {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 14px;
    width: 196px;
    background: url(/images/shad.png) no-repeat center top;
}

.boxtitleline {
    height: 45px;
    position: relative;
}

.dottdivi {
    background: url(/images/dotted.jpg) repeat-x right center;
    width: 100%;
    height: 1px;
    clear: both;
    padding: 2px 0px;
}

.boxtit {
    height: 28px;
    display: block;
    float: right;
    width: 202px;
    text-indent: -9999px;
    background: url(/images/titles.png) no-repeat right top;
    
}

.nlsu {
    background-position: right -26px;
}

.lsup {
    background-position: right 4px;
}

.namer {
    float: right;
    width: 70px;
    line-height: 24px;
}


.namer-wide {
	
    float: right;
    width: 105px;
    line-height: 24px;	
}

.input1 {
    border: 1px solid #e3e4e4;
    background: url(/images/input1.jpg) repeat-x right top;
    height: 18px;
    padding: 2px 2px 0;
    width: 216px;
    border-top: none;
}

.lineput {
    margin-bottom: 10px;
}
.newsleta form {
    margin-top: 20px;
}

.sidebar {
    width: 292px;
    float: left;
    height: auto !important;
    margin-top: 10px;
}

.sidebar .lastupdates {
    width: 292px;
    margin-bottom: 30px;
}

.sidebar .bubbr {
    width: 282px;
}

.pagespace {
    width: 626px;
    float: right;
    padding-right: 20px;
}

.page-title {
    margin-bottom: 15px;
}


.resualteries {
    margin-top: 30px;
}
.userpage {
    margin-top: 10px;
}

.resudetails {
    position: relative;
    height: 150px;
    width: 472px;
    float: right;
}

.userult {
    position: relative;
    border-bottom: 1px solid #c8caca;
    height: 150px;
    margin-bottom: 15px;
}
.userult .userpic {
    height: 128px;
    width: 128px;
    float: right;
    border: 3px solid #c3c5c6;
    border-radius: 4px;
    margin-left: 20px;
    display: block;
    overflow: hidden;
    text-align: center;
    background: url(/images/defuserbg.jpg) no-repeat center center;
}

.userult .userpic img {
    border: none;
    border-radius: 0px;
}

.sad {
    display: block;
}
   
.job {
    display: block;
    margin-bottom: 10px;
}

.halfer {
    width: 190px;
    display: block;
    float: right;
    /*margin-bottom: 5px;*/
}

.halfer2 {
    float: right;
    width: 270px;
    margin-bottom: 5px;
}

.clear {
    clear: both;
}

.flamer {
    width: 34px;
    float: right;
}
.flamer2 {
    width: 50px;
    float: right;
}

.moinf {
    margin-top: 5px;
    width: 350px;
    float: right;
}


.yelbtn {
    width: 101px;
    height: 28px;
    display: block;
    text-align: center;
    padding-top: 10px;
    background: url(/images/btns.png) no-repeat right top;
    position: absolute;
    left: 0px;
    bottom: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.yelbtn:hover {
    background-position: right -38px;
}

.lowerinfo {
    clear: both;
    position: absolute;
    bottom: 15px;
    right: 0px;
}

.statusline {
    background: url(/images/writesomething.png) no-repeat right top;
    height: 40px;
    width: 626px;
    display: block;
    margin-bottom: 20px;
}

.statusline form {
    padding: 6px 7px 0 0px;
}

.stauput {
    height: 22px;
    border: none;
    margin: 0px;
    background: none;
    padding: 4px 2px 0px;
    font-size: 14px;
    font-family: Arial;
    width: 520px;
    margin-left: 3px;
}

.statubtn {
    background: url(/images/btns.png) no-repeat right -76px;
    height: 26px;
    border: none;
    margin: 0px;
    width: 81px;
    font-family: Arial;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.statubtn:hover {
    background-position: right bottom;
}

.membertip {
    width: 626px;
    /*overflow: hidden;*/
    min-height: 150px;
    position: relative;
    margin-top: 20px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

.tiptop {
    background: url(/images/tips.jpg) no-repeat right top;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:4;
    width: 626px;
    height: 130px;
}

.membertip h4 {
    position: relative;
    z-index:5;
}

.tipbot {
    position: absolute;
    bottom: -4px;
    width: 626px;
    height: 4px;
    right: 0px;
    background: url(/images/tips.png) no-repeat right bottom;
    z-index:6;
}

.tipcon {
    position: relative;
    z-index:7;
    padding: 15px 18px 10px 150px; 
}
.offcon {
    position: relative;
    z-index:7;
    padding: 5px 18px 10px 150px;
    /*margin-top: -30px;*/
}

.offie {
    color: #fff;
}

.specialoffer {
    width: 626px;
    min-height: 110px;
    background: #428b95;
    position: relative;
    /*top: 30px;*/
    z-index:1;
    margin-bottom: 20px;
    overflow: hidden;
}

.specialoffer p {
	color:white;
}

.specoffhol h4 {
    color: #418891;
    /*top: -30px;*/
    position: relative;
    margin-bottom: 5px;
}

.offtop {
    background: url(/images/specialoffers.png) no-repeat right top;
    width: 626px;
    position: absolute;
    top: 0px;
    min-height: 185px;
    z-index:3
}

.offbot {
    position: absolute;
    background: url(/images/corners.png) no-repeat right top;
    height: 4px;
    width: 626px;
    bottom: 0px;
    z-index:4
}

.mingallery {
    width: 626px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 30px;
}

.offtopcor {
    top: 0px;
    background: url(/images/corners2.png) no-repeat right top;
    height: 4px;
    width: 626px;
    position: absolute;
    z-index: 8;
    display: block;
    right: 0px;
}

.gallerypics {
    width: 1000px;
    
}

.gallerypics li {
    display: inline;
    float: right;
    width: 139px;
    margin-left: 10px;
    background: none;
    padding-right: 0px;
}

.gallerypics li a {
    border: 3px solid #c3c5c6;
    border-radius: 4px;
    display: block;
}

.gallerypics li a img {
    display: block;
    border: none;
    border-radius: 0px;
}

.galleryholder {
    width: 588px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 20px;
}

.arr-s {
    position: absolute;
    display: block;
    height: 22px;
    width: 16px;
    background: url(/images/arr-s.png) no-repeat right top;
    right: 0px;
    top: 60px;
}
.arr-sl {
    position: absolute;
    display: block;
    height: 22px;
    width: 16px;
    background: url(/images/arr-s.png) no-repeat left top;
    left: 0px;
    top: 60px;
}

.arr-s:hover {
    background-position: right bottom;
}

.arr-sl:hover {
    background-position: left bottom;
}

.halfform {
    width: 302px;
    float: right;
    margin-left: 20px;
}
.textareaput {
    background: url(/images/text-area.png) no-repeat right top;
    width: 302px;
    height: 159px;
    margin-top: 5px;
}
.textareaput textarea {
    background: none;
    padding: 4px 4px 0px;
    border: none;
    font-family: Arial;
    font-size: 14px;
    width: 294px;
    height: 153px;
}

.input3 {
    background: url(/images/input3.png) no-repeat right top;
    width: 302px;
    height: 45px;
    margin-top: 5px;
}

.input3 input {
    background: none;
    padding: 4px 4px 0px;
    border: none;
    font-family: Arial;
    font-size: 14px;
    width: 294px;
    height: 23px;
}

.bigcontact {
    margin-top: 20px;
}

.bigcontactbtn {
    background: url(/images/btns.png) no-repeat right -76px;
    height: 26px;
    border: none;
    margin: 15px 0 0 0px;
    width: 81px;
    font-family: Arial;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    float: left;
}
.bigcontactbtn:hover {
    background-position: right bottom;
}






label.error {
	
	font-size:12px;
	color: red; 
	padding-right:8px;
	
}

 


.input_textarea {
	
	width : 475px;
	height: 200px;
	
} 


.message_box {
	
	width:503px; 
	clear:both; 
	padding-right: 10px; 
	padding-top:4px;	
	color: #be1818 ;
	position: absolute;
        right: -529px;
        top: 32px;
        color:#222A2B;
        background: url(/images/update-top-win.png) no-repeat right top;
        height: 41px;
        padding-left: 10px;
        padding-bottom: 2px;
	
}


.message_box a { 
	
	text-decoration: none;
	color:#4da7b3;	
	
}
.message_box a:hover { 
	
	text-decoration: underline;
	/*color:#4da7b3;	*/
	
}

.bubbr .padder1 .darker {
    height: 41px;
    overflow: hidden;
}




.edit_box {
	
	float:left ;
	line-height: 8px;
	 
}
