body {
    background: #f5f5f5;
}

.header ul {
    
    /* margin-top: 80px; */
    position: absolute;
    left: 0px;
    top: 99px;    
}

p {
    color: rgb(92, 92, 92);
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: solid 2px #ced4cf ; 

}

.row.main-content {
    min-height: 380px;
}

.list-unstyled li {
    border-bottom: 1px dotted rgb(202, 202, 202);
    margin-bottom: 4px;
    padding-bottom: 2px;    
}

li.active , li.active a {

    color: #428bca!important; 
    background-color: transparent!important;
    border-bottom: 1px solid rgb(151, 151, 151);
    border-radius: 0px;
    z-index: 999999;

}

h1,h2,h3,h4 {

	margin-bottom: 14px;
    font-weight: normal;
    color : rgb(77, 135, 168) ;     

}

h4 {
    color: rgb(77, 155, 207);
}

img.pull-right {

    margin-top: 5px ; 
    margin-left: 15px;

}

.widget {
    
    margin-bottom: 32px;


}


.glyphicon {

    color : rgb(77, 135, 168) ;     
}




.main-content h2 {
    margin-bottom: 25px;
}

.article {
    width: 100%;
    margin-bottom: 65px;
    clear: both;
}

p.article-body {
    margin-top: 6px;
}

.sidebar {

    margin-top: 20px;
}