
html {
	text-align:right ;
	direction : rtl ;
}



h5 {
	font-size:16px
}


.article-title a { 
	
	text-decoration: none; 	
	
}


.ui-li-heading.article-title , .ui-li-desc {
	text-align:right; 
}



.article-hidden-content {
	display:none;
}



/* list rtl support */

.ui-li-heading {
	text-align: right;
}

.ui-li-aside.ui-li-desc {
	float:left;
	text-align:left; 
}



/* main menu rtl fix */
	
.ui-grid-d li {
	
	float:right;
}
