html {
    direction: ltr !important;
    text-align: left;
}

p {
	text-align:left;
}

.btn1 {
    float: right;
    /*margin-top: 10px;*/
}

.home-bottom .btn1 {
    right: 0px;
    left: auto !important;
}

.input-btn {
    left: auto !important;
    right: 0px;
}

.input-name {
    float: left;
}

.right-menu {
    float: right;
}
.left-menu {
    float: left;
}

.right-menu .callus {
    text-align: right !important;
    float: right;
}

.last {
    padding-left: inherit !important;
    margin-left: auto !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}
.callus.right {
    text-align: right !important;
}